html, body {
 margin: 0px;
 padding: 0px;
}
.main {
 height: 100vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;


}
button {
 padding: 15px 25px;
 cursor: pointer;
 color: black;
 background: none;
 border: 1px solid black;
 border-radius: 10px;
 outline: none;
}
button:hover {
 color: white;
 background-color: black;
}